FRESHDESK_DOMAIN=https://itilite.freshdesk.com
FRESHDESK_API_KEY=use_a_local_key_only
FRESHDESK_PUBLIC_PORTAL_URL=https://help.itilite.com
FRESHDESK_CUSTOMER_PORTAL_ID=1060000110271
GOOGLE_CHAT_WEBHOOK_URL=use_a_local_webhook_only
POLL_INTERVAL_SECONDS=300
ALERT_EXISTING_ON_FIRST_RUN=false

